.button {
  border: 4px solid #fff;
  padding: 10px 24px;
  font-size: 24px;
  color: #fff;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Monocraft', sans-serif;
}

.button:hover:not(:disabled) {
  background: #fff;
  color: #070004;
}

.button:active:not(:disabled) {
  transform: translateY(2px);
}

.button:disabled {
  cursor: initial;
  opacity: 0.5;
}