.game {
  color: white;
  padding: max(15px, env(safe-area-inset-top)) max(15px, env(safe-area-inset-right)) max(15px, env(safe-area-inset-bottom)) max(15px, env(safe-area-inset-left));
  height: 100%;
  box-sizing: border-box;
}

.game__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 8px;
}

.game__header div {
  width: 33.33%;
}

.header__left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.game__move-control {
  position: absolute;

  left: max(15px, env(safe-area-inset-left));
  bottom: max(15px, env(safe-area-inset-bottom));

  width: calc(50% - max(15px, env(safe-area-inset-left)));
  height: calc(70% - max(15px, env(safe-area-inset-bottom)));
}

@keyframes gameOver {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.game-over__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;

  animation-duration: 3s;
  animation-name: gameOver;
}

.game-over__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 24px;
  background-color: rgba(32, 32, 32, 0.25);
  border: 4px solid #fff;
}

.game-over__title {
  color: #fff;
  margin-top: 0;
}

.game-over__button {
  width: 100%;
}

.game-over__button + .game-over__button {
  margin-top: 16px;
}
